:root {
  --background-color: #ffffff;
  --primary: #ff3b30;
  --primary-btn-hover: rgba(243, 58, 49, 1);
  --secondary-btn-hover: rgba(241, 242, 243, 1);
  --tertiary-btn-hover: rgba(243, 243, 244, 1);
  --secondary: #f8f9fa;
  --heading: #171e27;
  --text: #566881;
  --white: #fff;
  --hover: linear-gradient(0deg, #ff3b30, #ff3b30);
  --disable: #edf1f5;
  --disable-text: #b9c1cc;
  --input-hover: #b9c1cc;
  --border: rgba(185, 193, 204, 0.3);
  --fill-bg: #171e27;
  --check-icon-url: url("../assets/images/icons/check.svg");
  --toggle-bg: #edf1f5;
  --toggle-btn: #ffff;
  --input-text: #566881;
  --error: #ff3b30;
  --lable-color: #171e27;
  --span-circle: var(--white);
  --list-bg: #fff;
  --shadow: #00000029;
  --bar-line: #007aff;
  --selected-menu: #007aff1a;
  --tab: #566881;
  --closed-tag: #cbfcd466;
  --new-tag: #ff95001a;
  --canclled-tag: #b9c1cc33;
  --closed-text: #4cd964;
  --new-text: #ff9500;
  --canclled-text: #566881;
  --stage-green: #30d158;
  --stage-complete: #4cd964;
  --stage-active: #5ac8fa;
  --stage-blue: #64d2ff;
  --stage-pending: #fff;
  --stage-gry: #f8f9fa;
  --mid-width: 1200px;
  --full-width: 100%;
  --full-height: 100%;
  --info: #e8f3ff;
  --info-text: #007aff;
  --warning: #fff7d5;
  --warning-text: #ffcc00;
  --error-bg: #fce9e8;
  --error-text: #de1135;
  --success: #edfff0;
  --success-text: #30d158;
  --switch-bg: #171e27;
  --dark-bg: #fff;
  --tooltip: rgba(255, 255, 255, 1);
  --shadow-tooltip: 0px 4px 14px 0px rgba(0, 0, 0, 0.22);
  --stage-complete: rgba(76, 217, 100, 1);
  --stage-active: rgba(90, 200, 250, 1);
  --stage-pending: rgba(255, 255, 255, 1);
  --stage-complete-circle: rgba(48, 209, 88, 1);
  --stage-active-circle: rgba(100, 210, 255, 1);
  --stage-pending-circle: #f8f9fa;
  --overlay-background-color: rgba(248, 249, 250, 0.5);
  --loading-animation: rgba(237, 241, 245, 1);
  --loading-animation-sec: rgb(230, 236, 242);
  --bg-split: rgba(248, 249, 250, 1);
  --split-text: rgba(185, 193, 204, 1);
}
