<div class="side-navigation" [class.collapsed]="isCollapsed" [class]="variant">
  <div class="navigation-list">
    <ul>
<li (click)="collapsed()">
  <div class="collapsed-btn">
    <div class="collapsed-iocn">
      <img src="../../../assets/images/icons/dark.svg" alt="">
      <div class="menu-text">collapsed</div>
    </div>
    </div>
</li>

      <li routerLink="/button" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">Buttons</div></li>
      <li routerLink="/radio-button" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">Radio btn</div></li>
      <li routerLink="/checkbox" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">checkbox</div></li>
      <li routerLink="/toggle" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">Toggle</div></li>
      <li routerLink="/text" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">text</div></li>
      <li routerLink="/otp" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">OTP</div></li>
      <li routerLink="/calender" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">calendar</div></li>
      <li routerLink="/number" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">Number</div></li>
      <li routerLink="/search" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">Search</div></li>
      <li routerLink="/sidebar" routerLinkActive="active"><span><img src="../../../assets/images/icons/dark.svg" alt=""></span><div class="menu-text">Sidebar</div></li>
    </ul>
  </div>

</div>
