<div class="container-main">
  <nav id="sidebar" [class.close]="isSidebarClosed">
    <ul>
      <li>
        <button
          id="toggle-btn"
          [class.rotate]="isSidebarClosed"
          (click)="toggleSidebar()"
        >
          <div class="icon"><ui-icon icon="chevron-double-left"></ui-icon></div>
        </button>
      </li>

      <li [routerLink]="'/'" routerLinkActive="active">
        <a>
          <div class="icon"><ui-icon icon="home"></ui-icon></div>
          <span>Home</span>
        </a>
      </li>
      <li [routerLink]="'/style-guid'" routerLinkActive="active">
        <a>
          <div class="icon"><ui-icon icon="lifebuoy"></ui-icon></div>
          <span>Style</span>
        </a>
      </li>

      <li>
        <button
          class="dropdown-btn"
          [class.rotate]="subMenusState[0]"
          (click)="toggleSubMenu(0)"
        >
          <div class="icon"><ui-icon icon="microphone"></ui-icon></div>
          <span>Create</span>
          <div class="icon"><ui-icon icon="chevron-down"></ui-icon></div>
        </button>
        <ul class="sub-menu" [class.show]="subMenusState[0]">
          <div>
            <li>
              <a href="#"><span>Folder</span></a>
            </li>
            <li>
              <a href="#"><span>Document</span></a>
            </li>
            <li>
              <a href="#"><span>Project</span></a>
            </li>
          </div>
        </ul>
      </li>
      <li>
        <button
          class="dropdown-btn"
          [class.rotate]="subMenusState[1]"
          (click)="toggleSubMenu(1)"
        >
          <div class="icon">
            <ui-icon icon="arrow-path-rounded-square"></ui-icon>
          </div>
          <span>Todo-Lists</span>
          <div class="icon"><ui-icon icon="chevron-down"></ui-icon></div>
        </button>
        <ul class="sub-menu" [class.show]="subMenusState[1]">
          <div>
            <li>
              <a href="#"><span>Work</span></a>
            </li>
            <li>
              <a href="#"><span>Private</span></a>
            </li>
            <li>
              <a href="#"><span>Coding</span></a>
            </li>
            <li>
              <a href="#"><span>Gardening</span></a>
            </li>
            <li>
              <a href="#"><span>School</span></a>
            </li>
          </div>
        </ul>
      </li>
      <li>
        <a href="">
          <div class="icon"><ui-icon icon="calendar-days"></ui-icon></div>
          <span>Calendar</span>
        </a>
      </li>
      <li>
        <a href="">
          <div class="icon"><ui-icon icon="user"></ui-icon></div>
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <!-- top Heading -->
    <div class="list-header">
      <div class="left">
        <h2 class="heading">All Sessions</h2>
        <div class="breadcrum">
          <ui-breadcrumbs [breadcrumbs]="topTag" />
        </div>
      </div>

      <div class="right">
        <ui-button
          variant="primary"
          size="small"
          shape="round"
          class="mr-10"
          iconLeft="plus"
        />
        <ui-button variant="primary" size="small" label="Text" class="mr-10" />
        <ui-button
          variant="outlined"
          size="small"
          label="Text"
          class="mr-10"
          iconLeft="user"
          iconRight="user"
        />
        <ui-button
          variant="secondary"
          size="small"
          label="Text"
          class="mr-10"
          iconLeft="user"
          iconRight="user"
        />
        <ui-button
          variant="split"
          size="small"
          label="Text"
          class="mr-10"
          iconRight="arrow-right"
        />

        <ui-modal footerText="Demo Text" cancelText="Cancel" size="small" />
        <ui-button
          variant="secondary"
          shape="round"
          iconLeft="share"
          size="small"
          (click)="modal.openModal(modalContentOne)"
        />

        <ng-template #modalContentOne>
          <h5>Modal Text</h5>
          <P
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate, molestias.</P
          >
        </ng-template>
      </div>
    </div>
    <!-- filter list -->
    <div class="filter-list pl-20">
      <div class="left">
        <div class="small-heading mr-3">Filters</div>
        <ui-search size="small" class="mr-3" style="max-width: 190px" />
        <ui-dropdown
          class="mr-3"
          isDropdown="isDropdown"
          size="medium"
          [dropdownList]="sessionTypes"
          [selectedValue]="selectedType"
          (selectionChange)="onTypeSelectionChange($event)"
        />

        <ui-dropdown
          class="mr-3"
          isDropdown="isDropdown"
          size="medium"
          [dropdownList]="operatorList"
          [selectedValue]="selectedOperator"
          (selectionChange)="onOperatorSelectionChange($event)"
        />
        <ui-dropdown
          class="mr-3"
          isDropdown="isDropdown"
          size="medium"
          [dropdownList]="statusList"
          [selectedValue]="selectedStatus"
          (selectionChange)="onStatusSelectionChange($event)"
        />
        <ui-range-calendar
          class="mr-3"
          (dateRangeSelected)="onDateRangeSelected($event)"
        ></ui-range-calendar>
        <ui-button
          variant="primary"
          size="small"
          label="Apply"
          (click)="applyFilter()"
          time="1000"
        />
        <div class="small-heading filter ml-10" (click)="clearFilters()">
          Clear
        </div>
      </div>

      <div class="right pr-12">
        <div class="paggination">
          <ui-button
            variant="secondary"
            size="small"
            shape="round"
            iconRight="../../../../assets/images/icons/arrow-left.svg"
            (click)="goToPreviousPage()"
            [disabled]="currentPage === 1"
          />
          <input
            type="text"
            [(ngModel)]="tempPage"
            value="{{ currentPage }}"
            (keypress)="onEnterPress($event)"
            class="current ml-10 mr-10"
            min="1"
            [max]="totalPages"
          />

          <div class="no-of mr-10">of {{ totalPages }}</div>
          <ui-button
            variant="secondary"
            size="small"
            shape="round"
            iconRight="../../../../assets/images/icons/arrow-right.svg"
            (click)="goToNextPage()"
            [disabled]="currentPage === totalPages"
          />
        </div>
      </div>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th width="3.3%">
              <div
                class="number ml-7"
                [ngClass]="{ skeleton: isSkeletonVisible }"
              >
                <span>#</span>
              </div>
            </th>
            <th width="6.5%">
              <div
                class="selectAll check"
                [ngClass]="{ skeleton: isSkeletonVisible }"
              >
                <ui-checkbox
                  (change)="selectAll($event)"
                  [checked]="areAllRowsChecked()"
                  [ngClass]="{ skeleton: isSkeletonVisible }"
                  class="mr-3 mt-7 hide"
                />
                <div [ngClass]="{ skeleton: isSkeletonVisible }">
                  <span>TYPE</span>
                </div>
              </div>
            </th>
            <th width="7.92%" (click)="sortSessions('vehicleNo')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>VEHICLE NO.</span>
              </div>
              <!-- <ui-icon *ngIf="getSortIcon('vehicleType')" [icon]="getSortIcon('vehicleNo')" /> -->
            </th>
            <th width="6.93%" (click)="sortSessions('booking')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> BOOKING {{ getSortIcon("booking") }}</span>
              </div>
            </th>
            <th width="8.92%" (click)="sortSessions('timeIn')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>IN TIME {{ getSortIcon("timeIn") }}</span>
              </div>
            </th>
            <th width="8.92%" (click)="sortSessions('timeOut')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>TIME OUT {{ getSortIcon("timeOut") }}</span>
              </div>
            </th>
            <th width="	6.93%" (click)="sortSessions('advance')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> ADVANCE {{ getSortIcon("advance") }}</span>
              </div>
            </th>
            <th width="8.91%" (click)="sortSessions('totalTime')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> TOTAL TIME {{ getSortIcon("totalTime") }}</span>
              </div>
            </th>
            <th width="8.91%" (click)="sortSessions('collection')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>COLLECTION {{ getSortIcon("collection") }}</span>
              </div>
            </th>
            <th width="8.91%" (click)="sortSessions('refund')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> REFUND {{ getSortIcon("refund") }}</span>
              </div>
            </th>
            <th width="5.94%" (click)="sortSessions('total')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> TOTAL {{ getSortIcon("total") }}</span>
              </div>
            </th>
            <th width="5.94%" (click)="sortSessions('mode')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>MODE {{ getSortIcon("mode") }}</span>
              </div>
            </th>
            <th width="5.94%" (click)="sortSessions('reference')">
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>REFERENCE {{ getSortIcon("reference") }}</span>
              </div>
            </th>
            <th width="5.94%">
              <div
                class="blank"
                [ngClass]="{ skeleton: isSkeletonVisible }"
              ></div>
            </th>
            <th>
              <div
                class="blank"
                [ngClass]="{ skeleton: isSkeletonVisible }"
              ></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let session of paginatedSessions; let i = index"
            [ngClass]="{ highlight: isRowChecked(i) }"
          >
            <td>
              <div
                class="number ml-7"
                [ngClass]="{ skeleton: isSkeletonVisible }"
              >
                <span>{{ (currentPage - 1) * rowsPerPage + i + 1 }}</span>
              </div>
            </td>
            <td class="selectAll">
              <span [ngClass]="{ skeleton: isSkeletonVisible }" class="check">
                <ui-checkbox
                  [checked]="isRowChecked(i)"
                  (change)="onCheckboxChange($event, i)"
                  class="mr-3 hide"
                />
              </span>

              <span class="vehicle" [ngClass]="{ skeleton: isSkeletonVisible }"
                ><ui-vehicle
                  [vehicle]="session.vehicleType"
                  [vehicleIcon]="session.vehicleIcon"
                  class="hide"
              /></span>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> {{ session.vehicleNo }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> {{ session.booking }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> {{ session.timeIn }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> {{ session.timeOut }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>₹{{ session.advance }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> {{ session.totalTime }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>₹{{ session.collection }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>₹{{ session.total }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>{{ session.refund }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span>{{ session.mode }}</span>
              </div>
            </td>
            <td>
              <div [ngClass]="{ skeleton: isSkeletonVisible }">
                <span> {{ session.reference }}</span>
              </div>
            </td>
            <td>
              <div class="flex flex-around flex-align-items">
                <span [ngClass]="{ skeleton: isSkeletonVisible }">
                  <ui-notification
                    icon="user"
                    size="sm"
                    shape="circle"
                    class="hide"
                  />
                </span>
                <div [ngClass]="{ skeleton: isSkeletonVisible }">
                  <span>...</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="filter-list pl-20">
      <div class="left">
        <div class="breadcrum">
          <ui-breadcrumbs [breadcrumbs]="bottomTag" />
        </div>
      </div>
      <div class="right pr-12">
        <div class="paggination">
          <ui-button
            variant="secondary"
            size="small"
            shape="round"
            iconRight="../../../../assets/images/icons/arrow-left.svg"
            (click)="goToPreviousPage()"
            [disabled]="currentPage === 1"
          />
          <input
            type="text"
            [(ngModel)]="tempPage"
            value="{{ currentPage }}"
            (keypress)="onEnterPress($event)"
            class="current ml-10 mr-10"
            min="1"
            [max]="totalPages"
          />

          <div class="no-of mr-10">of {{ totalPages }}</div>
          <ui-button
            variant="secondary"
            size="small"
            shape="round"
            iconRight="../../../../assets/images/icons/arrow-right.svg"
            (click)="goToNextPage()"
            [disabled]="currentPage === totalPages"
          />
        </div>
      </div>
    </div>
  </main>
</div>
