.container-main {
  min-height: calc(100vh - 54px);
  min-height: calc(100vh - 54px);
  display: grid;
  grid-template-columns: auto 1fr;
}

#sidebar {
  box-sizing: border-box;
  height: calc(100vh - 54px);
  width: 210px;
  padding: 5px 0.5em;
  /* background-color: red; */
  border-right: 1px solid var(--border);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close {
  padding: 0.5em;
  width: 60px;
}

#sidebar ul {
  list-style: none;
}
#sidebar ul li {
  margin: 2px 0;
  position: relative;
}

#sidebar > ul > li:first-child {
  /* display: flex;
  justify-content: flex-end; */
  margin-bottom: 16px;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--heading);
  background-color: var(--selected-menu);

  svg {
    fill: var(--heading);
  }
}

#sidebar ul li.active::after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 36px;
  background-color: var(--bar-line);
  border-radius: 2px 0 0 2px;
  right: -0.5em;
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 10em;
  padding: 0.4em 1.5em;
  text-decoration: none;
  color: var(--heading);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--heading);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--secondary);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.dropdown-btn svg {
  transition: 200ms ease;
}

.rotate .icon:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu a {
  padding-left: 2em;
}

#toggle-btn {
  margin-left: auto;
  padding: 0.5em;
  border: none;
  border-radius: 10em;
  background: none;
  cursor: pointer;
  width: 36px;
  height: 36px;

  .icon {
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover {
  background-color: var(--secondary);
}

/* main {
    padding: min(10px, 7%);
} */

main p {
  color: var(--text);
  margin-top: 5px;
  margin-bottom: 15px;
}

.container {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  /* padding: min(1em, 3%); */

  h2,
  p {
    margin-top: 1em;
  }
}

ul li .icon {
  width: 20px;
  height: 20px;
}
ul li span {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 800px) {
  /* body {
        grid-template-columns: 1fr;
    } */

  main {
    padding: 2em 1em 60px 1em;
  }

  .container {
    border: none;
    padding: 0;
  }

  #sidebar {
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--heading);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }

    ul li {
      height: 100%;
    }

    ul a,
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }

      li {
        display: inline-flex;
      }

      a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}

#sidebar.close a,
#sidebar.close .dropdown-btn,
#sidebar.close .logo {
  padding: 0.4em 0em 0.4em 0.56em;
  gap: 1.5em;
}

#sidebar.close a {
  width: 28px;
}

/* list-header */
.list-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding-top: min(20px, 7%);
  padding-left: min(20px, 7%);
  padding-bottom: min(10px, 7%);
  padding-right: min(10px, 7%);
}
.list-header .right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.filter-list {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--border);
}
.small-heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  color: var(--heading);
}
.filter-list .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-heading.filter {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: var(--primary);
}

.paggination {
  display: flex;
  justify-content: start;
  align-items: center;
}
.current {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--secondary);
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--heading);
  font-size: 14px;
  line-height: 19.64px;
  font-weight: 400;
}
.no-of {
  color: var(--heading);
  font-size: 14px;
  line-height: 19.64px;
  font-weight: 400;
}

:host ::ng-deep .active {
  color: var(--text) !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 0px;
  text-align: left;
}

td {
  color: var(--fill-bg);
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

th span {
  color: var(--text);
  font-weight: 500;
  font-size: 12px;
  line-height: 15.73px;
}

th {
  background-color: var(--dark-bg);
}

tr:hover {
  background-color: var(--stage-gry);
}

.selectAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  height: 25px;
}

table thead th {
  position: sticky;
  top: -0.5px;
  z-index: 1;
  /* padding: 10px 15px; */
}
table thead th:nth-child(1) {
  border-left: 0.5px solid var(--border);
}

.table-container {
  height: calc(100vh - 270px);
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filter {
  cursor: pointer;
}

.current {
  border: none;
  text-align: center;
  color: var(--disable-text);
}
.current:focus {
  outline: none;
}

.icon-left {
  width: 15px;
}

.number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.blank {
  width: 100%;
  height: 20px;
}

td:not(:first-child) > div.skeleton {
  min-width: 80px;
  height: 25px;
}

/* Skeleton Base Styles */
.skeleton {
  position: relative;
}
span.check {
  max-height: 27px;
  margin-top: 13px;
}
.check.skeleton {
  max-height: 27px;
  margin-top: 5px;
}
.vehicle {
  max-height: 36px;
  margin-top: 3px;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  z-index: 10;
  background: linear-gradient(
    90deg,
    var(--loading-animation) 25%,
    var(--loading-animation-sec) 50%,
    var(--loading-animation) 75%
  );
  animation: shimmer 1s infinite reverse;
  background-size: 200% 100%;
  border-radius: 20px;
}

.skeleton > span {
  opacity: 0;
}
.skeleton .hide {
  opacity: 0;
}

/* Shimmer Animation */
@keyframes shimmer {
  0% {
    background-position: -100px 0;
  }
  100% {
    background-position: 100px 0;
  }
}
