@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'styles/light-theme.css';
@import 'styles/dark-theme.css';




* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
}
a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading)
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

.mt-1 {
  margin-top: 10px;
}

P {
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
}

button {
  border: none;
}

.dark-theme .icon-img {
  filter: brightness(0) invert(1);
}

.dark-theme .arrow-btn img {
  filter: brightness(0) invert(1);
}

.dark-theme .navigation-list ul li img {
  filter: brightness(0) invert(1);
}

/* error msg  */
.error-msg {
  font-size: 12px;
  color: var(--error);
  line-height: 14px;
}

::placeholder {
  color: var(--text);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--text);
}

.ui-xl-container {
  max-width: var(--full-width);
}

.ui-md-container {
  max-width: var(--mid-width);
  width: var(--full-width);
  margin: 0 auto;
}

.ui-grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
}

.ui-col {
  padding: 8px;
  box-sizing: border-box;
  /* margin: 5px; */
}

/* Flex-basis calculations for the 12-column layout with adjusted widths */
[class^="ui-col-"] {
  /* padding: 5px;  */
  box-sizing: border-box;
}
.ui-col-0-5 {
  flex: 0 0 calc((100% / 12) * 0.5);
}
.ui-col-1 {
  flex: 0 0 calc((100% / 12) - 0px);
}

.ui-col-2 {
  flex: 0 0 calc((100% / 12 * 2) - 0px);
}

.ui-col-3 {
  flex: 0 0 calc((100% / 12 * 3) - 0px);
}

.ui-col-4 {
  flex: 0 0 calc((100% / 12 * 4) - 0px);
}

.ui-col-5 {
  flex: 0 0 calc((100% / 12 * 5) - 0px);
}

.ui-col-6 {
  flex: 0 0 calc((100% / 12 * 6) - 0px);
}

.ui-col-7 {
  flex: 0 0 calc((100% / 12 * 7) - 0px);
}

.ui-col-8 {
  flex: 0 0 calc((100% / 12 * 8) - 0px);
}

.ui-col-9 {
  flex: 0 0 calc((100% / 12 * 9) - 0px);
}

.ui-col-10 {
  flex: 0 0 calc((100% / 12 * 10) - 0px);
}

.ui-col-11 {
  flex: 0 0 calc((100% / 12 * 11) - 0px);
}

.ui-col-12 {
  flex: 0 0 calc(100% - 0px);
}

.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.justify-end{
  display: flex;
  justify-content: end;
}
.justify-center{
  display: flex;
  justify-content: center;
}
.justify-start{
   display: flex;
  justify-content: start;
}

.space-between{
  justify-content: space-between;
  align-items: center;
}

/* .ui-md-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; 
  box-sizing: border-box;
  background-color: red;
}
*/

@media (max-width: 1200px) {
  .ui-md-container {
    max-width: 100%; 
  }
}

@media (max-width: 768px) {
  .ui-md-container {
    padding: 0 5px; 
  }
}

@media (max-width: 576px) {
[class^="ui-col-"] {
  padding:0 5px; 
  box-sizing: border-box;
}
} 